# Build
/_build/
/cover/
/deps/
/.fetch
*.ez

# Erlang
erl_crash.dump

# Public
/public/uploads
/apps/admin_api/public/uploads
!/public/uploads/test.txt
/public/docs
/private

# Dev
.env
.DS_Store
Thumbs.db
.elixir_ls

# Load Tester results
/results/
