$font-stack: "Circular", "Helvetica", "Arial", sans-serif;

$omise-blue: #0F67CE;
$omise-dark-blue: #314357;
$omise-darker-blue: #253240;
$dark-gray: #454A53;
$light-gray: #C2CEDB;
$sidebar-background: #F7F8FA;
$red-alert: #E21839;
$white: #FFF;