.authenticated-layout {
  @media (min-width: 992px) {
    &__sidebar {
      padding-right: 0rem;
      position: fixed;
    }
  }

  &__sidebar {
    padding-right: 0rem;
  }

  &__main {
    padding: 1rem 5rem 0rem 5rem; // top right bot left
  }
}
