.authenticated-layout {
  
  &__sidebar {
    @media (min-width: 768px) {
      top: 64px;
      bottom: 0;
      position: fixed;
    }
    padding-right: 0rem;
    padding-left: 0rem;
  }

  &__sidebar {
    padding-right: 0rem;
  }

  &__main {
    padding: 1rem 5rem 0rem 5rem; // top right bot left
  }
}
