.omg-table-content-row {

  .table > tbody > tr > &__td {
    height: 3rem;
    line-height: 3rem;
    padding: 0rem 0rem;
    vertical-align: middle;
    font-size: 14px;
  }

  &__td-green {
    color: $green;
  }

  &__td-gray {
    color: $light-gray;
  }

  &__td-red {
    color: $red-alert;
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
  }

  &__left{
    text-align: left;
  }
}
