.omg-select-box {
  &__input {
    @extend .omg-form__input;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    background: url('../../public/images/chevron_down.svg') white
      no-repeat calc(100% - 10px)/1rem;
  }

  &__input:focus {
    @extend .omg-form__input:focus
  }
}
