.open > .omg-add-member-form,
.omg-add-member-form {
  white-space: nowrap;

  .btn {
    height: 2.5rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
    margin-left: 1rem;
  }

  /* For input box */

  &__input > .rbt-input {
    height: 2.5rem;
    padding: 0.5625rem 0.75rem;
    width: auto;
    display: block;
  }

  &__input > .rbt-input.form-control {
    border: 1px solid $light-gray;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 18rem;
  }

  &__input > .rbt-input.form-control.focus {
    border: 1px solid $omise-blue;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  &__input:focus > .rbt-input.form-control.focus {
    @extend .omg-form__input:focus;
  }

  /* Hide loading of typeahead because it's broken */
  &__input > .rbt-input > .rbt-aux > .rbt-loader {
    display: none;
  }

  /* For dropdown button*/
  &__dropdown.btn,
  &__dropdown:hover.btn,
  &__dropdown:focus.btn,
  &__dropdown:active.btn {
    height: 2.5rem;
    padding: 0rem 1rem 0rem 1rem;
    background-color: $light-gray;
    color: $omise-dark-blue;
    border: 0;
    text-align: right;
  }

  .input-group-btn:last-child > &__dropdown.btn {
    // Override the bootstrap's margin-left: -1px;
    margin-left: 0rem;
  }

  &__dropdown > .dropdown-sort {
    margin-left: 0.5rem;
  }
}
