.omg_photo_uploader {
  position: relative;
  width: 8rem;
  height: 8rem;
  background-color: $sidebar-background;

  @mixin img-size($size) {
    width: $size;
    height: $size;
    object-fit: cover;
  }

  &__img {
    @include img-size(8rem);
    border: 1px solid $light-gray;
  }

  &__img-blue {
    @include img-size(8rem);
    border: 2px solid $omise-dark-blue;
  }

  &__center-button {
    position: absolute;
    top: 3rem;
    left: 2.8rem;
  }

  &__top-right-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
