.omg-form {
  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }
  &__subtitle {
    font-size: 0.85rem;
    margin-bottom: 1.25rem;
  }

  &__label {
    font-size: 0.875rem;
    color: $dark-gray;
    font-weight: 300;
  }

  &__input {
    height: 2.5rem;
    border: 1px solid $light-gray;
    border-radius: 2px;
  }

  &__input:focus {
    border: 1px solid $omise-blue;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &__group {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__button {
    height: 2.5rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
  }

  &__flex-stretch {
    flex: auto;
    margin-bottom: 0rem;
  }
}
