.public-header {
  padding-bottom: 2rem;
  @media (min-width: 768px){
    padding-bottom: 3rem;
  }

  &__logo {
    margin: 0 auto;
    max-width: 15rem;
    @media (min-width: 768px){
      max-width: 18.75rem;
    }
  }
}
