@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular-Black.ttf') format('truetype');
  font-weight: black;
  font-style: black;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular-Book.ttf') format('truetype');
  font-weight: book;
  font-style: book;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: medium;
}
