.public-layout {
  max-width: 520px;
  margin: 0 auto;
}

.external-header {
  max-width: 260px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 20px;
}

.sign-in-form-container {
  max-width: 340px;
  margin: 0 auto;
}

.external-footer {
  text-align: center;
  margin-top: 78px;

  a {
    color: #888C92;
  }
}
