*:focus {
    outline: none;
}
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
}
div {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
button {
  font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    transition: color 9999s ease-out, background-color 9999s ease-out;
}
body {
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #262A31;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#app {
  height: 100%;
}
input {
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #04070D;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 { 
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  box-shadow: -3px 1px 0px 0px #C9D1E2;
} */


/* global css style for transition group  */

.fade {
  z-index: 2;
}
.fade-enter {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.fade-exit {
  opacity: 0; 
  transition: opacity 0.2s ease-in;
}
.fade-exit-active {
  transition: opacity 0.2s ease-in;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

/* react modal */
.ReactModal__Overlay.react-modal-overlay {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right:0;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
  z-index: 2;
}

.ReactModal__Content.react-modal {
  background-color: white;
  overflow: auto;
  border: none;
  border-radius: 4px;
  opacity: 0;
  transition: 0.2s;
  transform: translate3d(-50%,-50%,0);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  border: none;
  position: absolute;
}

.ReactModal__Content--after-open.react-modal {
  opacity: 1;
  
}

.ReactModal__Content--before-close.react-modal {
  opacity: 0.1;
}
.icon-omisego_Checked:before {
  content: "\e906";
}
a {
  color: #1A56F0;
  cursor: pointer;
}
b {
  font-weight: 600;
}


/* DATE PICKER */
/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

 .rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
  vertical-align:middle;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}