*:focus {
    outline: none;
}
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
}
div {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
button {
  font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    transition: color 9999s ease-out, background-color 9999s ease-out;
}
body {
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #262A31;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#app {
  height: 100%;
}
input {
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #04070D;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 { 
  font-weight: 900;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  box-shadow: -3px 1px 0px 0px #C9D1E2;
} */


/* global css style for transition group  */
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 0.1s ease-in;
}