*:focus {
    outline: none;
}
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
}
div {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
button {
  font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    transition: color 9999s ease-out, background-color 9999s ease-out;
}
body {
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #262A31;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#app {
  height: 100%;
}
input {
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #04070D;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 { 
  font-weight: 900;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  box-shadow: -3px 1px 0px 0px #C9D1E2;
} */


/* global css style for transition group  */

.fade {
  z-index: 2;
}
.fade-enter {
  opacity: 0!important;
  transition: opacity 0.3s ease-in;
}
.fade-enter-active {
  opacity: 1!important;
  transition: opacity 0.3s ease-in;
}
.fade-exit {
  opacity: 0!important; 
  transition: opacity 0.3s ease-in;
}
.fade-exit-active {
  transition: opacity 0.3s ease-in;
  opacity: 0!important;
  transition: opacity 0.3s ease-in;
}

/* react modal */
.ReactModal__Overlay.react-modal-overlay {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right:0;
  background-color: rgba(0,0,0,0.5);
}

.ReactModal__Content.react-modal {
  background-color: white;
  border: none;
  border-radius: 4px;
  opacity: 0;
  transition: 0.2s;
  transform: translate3d(-50%,-40%,0);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  border: none;
  position: absolute;
}

.ReactModal__Content--after-open.react-modal {
  opacity: 1;
  transform: translate3d(-50%,-50%,0);
  
}

.ReactModal__Content--before-close.react-modal {
  opacity: 0;
  transform: translate3d(-50%,-40%,0);
}
.icon-omisego_Checked:before {
  content: "\e906";
}