.header {
  background-color: $omise-dark-blue;
  height: 4rem;

  &__navbar {
    background-color: inherit;
    border: 0;
  }

  &__logo {
    height: 4rem;
    width: auto;
  }

  &__button-toolbar {
    margin-left: -2rem;
  }
}