.header {
  background-color: $omise-dark-blue;
  height: 4rem;

  &__left{
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &__right{
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &__navbar {
    background-color: inherit;
    border: 0;
  }

  &__logo {
    height: 4rem;
    width: auto;
  }
}