.sidebar {
  background-color: $sidebar-background;

  &__content {
    overflow-y: scroll;
    height: 100%;
  }

  &__logo {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid $light-gray;
  }

  &__disabled {
    color: $light-gray;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: $dark-gray;
    margin-bottom: 2.25rem;
    margin-top: inherit;
  }

  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }

  &__li {
    margin-bottom: 1rem;
  }

  &__link {
    color: $dark-gray;

  }

  &__link--active {
    color: $omise-blue;
    font-weight: bold;
  }

  &__link:hover, &__link:focus {
    color: $omise-blue;
    text-decoration: none;
  }
}
